.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
}

.sb-title {
    color: var(--text-grey);
    font-weight: var(--font-weight);
}

.txt-tai-len {
    font-weight: var(--font-weight);
}

.nav-link i {
    font-size: 14px;
    color: var(--text-grey);
}

.nav-link.active {
    background-color: var(--background-blue-10);
}

.nav-link.active .sb-title {
    color: var(--text-blue);
}

.nav-link.active i {
    color: var(--text-blue);
}