:root {
    --background-grey: #F6F6F6;
    --text-grey: #5B5B5B;
    --background-blue-10: rgba(73, 127, 255, 0.1);
    --text-blue: #497FFF;
    --font-weight: 542;
}

.main-content {
    margin-left: 240px;
    padding: 20px;
}